<body class="is-preload">
	<div id="wrapper">

		<!-- Header -->
			<header id="header">
				<h1><a href="">INSA EXPRESS</a></h1>
				<nav class="links">
					<ul>
						<li><a href="#leaderboard">Classement</a></li>
						<li><a href="#mapfrance">Carte</a></li>
						<li><a href="defis">Défis</a></li>
						<li><a href="charte">Charte du participant</a></li>
						<li><a href="login">Se connecter</a><li>
					</ul>
				</nav>
				<nav class="main">
					<ul>
						<li class="menu">
							<a class="fa-bars" href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

	<div id="main">

		<!-- Post -->
		<article class="post">
			<header>
				<div class="title">
					<h2><a href="single.html">Liste des défis à réaliser</a></h2>
				</div>
				<div class="meta">
					<time class="published" datetime="2015-11-01">November 1, 2015</time>
				</div>
			</header>
		<p *ngFor="let achievement of achievements" class="button large fit" >{{achievement.name}}</p>



		</article>
	</div>

	<section id="sidebar">

		<section id="intro">
			<a href="#" class="logo"><img src="/assets/images/insaexpress_logo.png" alt="" /></a>
		</section>





		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
				<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
		</section>
	</section>
