<header id="header">
	<h1><a href="">INSA EXPRESS</a></h1>
	<nav class="links">
		<ul>
				<li><a href="#leaderboard">Classement</a></li>
				<li><a href="#mapfrance">Carte</a></li>
				<li><a href="defis">Défis</a></li>
				<li><a href="charte">Charte du participant</a></li>
				<li><a href="http://localhost:4200">Se connecter</a><li>
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<router-outlet></router-outlet>
