
<div id="wrapper">


        <!-- Main -->
          <div id="main">

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a>Charte du participant</a></h2>
                    <embed src="/assets/images/charte_participant.pdf" width=800 height=500 type='application/pdf'/>
                  </div>
                </header>
                <!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->


                <p></p>

              </article>


              <section id="footer">
                <ul class="icons">
                  <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                  <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
              </section>
          </div>
</div>
